Repository UoaWDCC/uabc-web: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cspell

biome:
  run: 'pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  
    '
  stage_fixed: true

cspell:
  run: pnpm cspell {staged_files} --cache --cache-strategy=content --cache-location=.cspellcache

refactor(user): use a single object for verification code
  apps/backend/src/app/api/auth/google/callback/route.ts
  apps/backend/src/app/api/auth/register/route.test.ts
  apps/backend/src/app/api/auth/register/route.ts
  apps/backend/src/app/api/auth/verification-code/route.test.ts
  apps/backend/src/app/api/auth/verification-code/route.ts
  apps/backend/src/app/api/me/route.test.ts
  apps/backend/src/data-layer/collections/User.ts
  packages/shared/src/mocks/User.mock.ts
  packages/shared/src/payload-types.ts
  packages/shared/src/schemas/user.ts
Due: biome, cspell

fix(user): use correct email verification structure for onboarded user schema
  packages/shared/src/schemas/user.ts
Due: biome, cspell

feat(admin-game-session-card): add `AdminGameSessionCard` composite component
  packages/shared/src/types/enums.ts
  packages/shared/src/types/game-session.ts
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.stories.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.test.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/index.ts
  packages/ui/src/components/Composite/index.ts
Due: biome, cspell

refactor(game-session-status): update GameSessionStatus enum values to uppercase
  packages/shared/src/types/enums.ts
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.stories.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.test.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.tsx
  packages/ui/src/utils/game-session.test.ts
  packages/ui/src/utils/game-session.ts
  packages/ui/src/utils/index.ts
Due: biome, cspell

feat(frontend): migrate to OpenNext and enhance Cloudflare Workers integration
  .github/cd-actions/deploy-frontend/action.yml
  .github/workflows/ci-pipeline.yml
  .gitignore
  apps/frontend/next.config.ts
  apps/frontend/open-next.config.ts
  apps/frontend/package.json
  apps/frontend/public/_headers
  apps/frontend/turbo.json
  apps/frontend/wrangler.jsonc
  cspell.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: biome, cspell

refactor(ci-pipeline): remove build-frontend job and update dependencies in turbo.json
  .github/cd-actions/deploy-frontend/action.yml
  .github/workflows/ci-pipeline.yml
  apps/frontend/turbo.json
Due: biome, cspell

chore(deps): update wrangler to version 4.33.1
  package.json
  pnpm-lock.yaml
Due: biome, cspell

chore(ci-pipeline): add preview-frontend dependency to verify job
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(ci-pipeline): specify working directory for frontend deployment
  .github/cd-actions/deploy-frontend/action.yml
Due: cspell

chore(ci-pipeline): update cache keys and configuration for frontend deployment
  .github/cd-actions/deploy-frontend/action.yml
  apps/frontend/next.config.ts
  apps/frontend/src/app/page.tsx
Due: biome, cspell

chore(frontend): remove OpenNext Cloudflare integration and update deployment configurations
  .github/cd-actions/deploy-frontend/action.yml
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
  .gitignore
  apps/frontend/next.config.ts
  apps/frontend/open-next.config.ts
  apps/frontend/package.json
  apps/frontend/turbo.json
  apps/frontend/wrangler.jsonc
  cspell.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: biome, cspell

chore(ci-pipeline): enhance frontend deployment with preview and production configurations
  .github/cd-actions/deploy-frontend/action.yml
Due: cspell

chore(ci-pipeline): streamline frontend deployment by consolidating preview and production commands
  .github/cd-actions/deploy-frontend/action.yml
Due: cspell

chore(ci-pipeline): remove is-preview input from frontend deployment configuration
  .github/cd-actions/deploy-frontend/action.yml
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(frontend): remove unused binding from assets configuration in wrangler.jsonc
  apps/frontend/wrangler.jsonc
Due: biome

chore(ci-pipeline): implement build and upload steps for frontend artifact in CI workflow
  .github/cd-actions/deploy-frontend/action.yml
  .github/ci-actions/build-frontend/action.yml
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(ci-pipeline): update worker name in CI workflow to use dynamic branch reference
  .github/cd-actions/deploy-frontend/action.yml
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(dependencies): remove wrangler from package.json
  .github/cd-actions/deploy-frontend/action.yml
  package.json
  pnpm-lock.yaml
Due: biome, cspell

chore(ci-pipeline): reorder Node.js setup in frontend deployment action for clarity
  .github/cd-actions/deploy-frontend/action.yml
Due: cspell

chore(dependencies): add wrangler to root
  .github/cd-actions/deploy-frontend/action.yml
  apps/frontend/next.config.ts
  package.json
  pnpm-lock.yaml
Due: biome, cspell

fix(deployment): update command to replace slashes in worker name for proper deployment
  .github/cd-actions/deploy-frontend/action.yml
Due: cspell

refactor(admin-game-session-card): optimize color scheme handling and improve conditional rendering
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.tsx
Due: biome, cspell

fix: remove duplicate zod field and make slight table changes
  packages/shared/src/schemas/user.ts
  packages/ui/src/components/Composite/AdminTable/Columns.tsx
  packages/ui/src/components/Composite/AdminTable/constants.ts
Due: biome, cspell

feat(services): add location bubble service
  apps/frontend/src/services/cms/location-bubble/LocationBubbleService.ts
  apps/frontend/src/services/index.ts
  packages/shared/src/schemas/globals/index.ts
  packages/shared/src/schemas/globals/location-bubble.ts
  packages/shared/src/types/globals/index.ts
  packages/shared/src/types/globals/location-bubble.ts
Due: biome, cspell

feat(mocks): add AdminGameSession mock and update game session types
  packages/shared/src/mocks/AdminGameSession.mock.ts
  packages/shared/src/mocks/index.ts
  packages/shared/src/types/game-session.ts
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.stories.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.test.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.tsx
Due: biome, cspell

feat: add test cases for atomic methods and delete method
  apps/backend/src/app/api/admin/semesters/[id]/route.test.ts
  apps/backend/src/app/api/admin/semesters/[id]/route.ts
  apps/backend/src/data-layer/services/BookingDataService.test.ts
  apps/backend/src/data-layer/services/BookingDataService.ts
  apps/backend/src/data-layer/services/GameSessionDataService.test.ts
  apps/backend/src/data-layer/services/GameSessionDataService.ts
  apps/backend/src/data-layer/services/SemesterDataService.test.ts
  apps/backend/src/data-layer/services/SemesterDataService.ts
Due: biome, cspell

fix: test case wrong return
  apps/backend/src/data-layer/adapters/Transaction.test.ts
  apps/backend/src/data-layer/services/BookingDataService.test.ts
  apps/backend/src/data-layer/services/GameSessionDataService.test.ts
Due: biome, cspell

feat(admin-game-session-card): integrate string utility for day capitalization
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/string.ts
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.tsx
Due: biome, cspell

feat(admin-game-session-card): add `AdminGameSessionCard` composite component (#782)
  packages/shared/src/mocks/AdminGameSession.mock.ts
  packages/shared/src/mocks/index.ts
  packages/shared/src/types/enums.ts
  packages/shared/src/types/game-session.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/string.ts
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.stories.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.test.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/AdminGameSessionCard.tsx
  packages/ui/src/components/Composite/AdminGameSessionCard/index.ts
  packages/ui/src/components/Composite/index.ts
  packages/ui/src/utils/game-session.test.ts
  packages/ui/src/utils/game-session.ts
  packages/ui/src/utils/index.ts
Due: biome, cspell

chore: update lefthook configuration and enhance package.json scripts
  lefthook.yml
  package.json
Due: biome, cspell

test: add tests for transaction methods
  apps/backend/src/data-layer/adapters/Transaction.test.ts
  apps/backend/src/data-layer/adapters/Transaction.ts
Due: biome, cspell

fix: await error
  apps/backend/src/data-layer/services/BookingDataService.test.ts
  apps/backend/src/data-layer/services/GameSessionDataService.test.ts
Due: biome, cspell

fix: wrong url
  apps/backend/src/app/api/admin/semesters/[id]/route.test.ts
Due: biome, cspell

feat(deployment): add transformation step for worker name to ensure valid naming convention
  .github/cd-actions/deploy-frontend/action.yml
Due: cspell

feat(frontend): integrate OpenNext for Cloudflare deployment and update configuration
  .github/cd-actions/deploy-frontend/action.yml
  .gitignore
  apps/frontend/next.config.ts
  apps/frontend/open-next.config.ts
  apps/frontend/package.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/turbo.json
  apps/frontend/wrangler.jsonc
  pnpm-lock.yaml
Due: biome, cspell

fix: assertion error
  apps/backend/src/app/api/admin/semesters/[id]/route.test.ts
Due: biome, cspell

chore(ci-pipeline): update frontend build process to use Turbo and adjust artifact paths
  .github/cd-actions/deploy-frontend/action.yml
  .github/ci-actions/build-frontend/action.yml
  apps/frontend/package.json
  cspell.json
  package.json
  pnpm-lock.yaml
Due: biome, cspell

refactor(CodeVerificationPopup): remove unused onClose prop from Modal component
  packages/ui/src/components/Composite/CodeVerificationPopup/CodeVerificationPopup.tsx
Due: biome, cspell

chore(turbo.json): update build outputs to include additional directories for frontend artifacts
  apps/frontend/turbo.json
Due: biome, cspell

chore(ci-pipeline): enhance frontend build action
  .github/ci-actions/build-frontend/action.yml
Due: cspell

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  cspell: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx,css,scss,yaml,yml}
