Repository UoaWDCC/uabc-web: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cspell

biome:
  run: 'pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  
    '
  stage_fixed: true

cspell:
  run: pnpm cspell {staged_files} --cache --cache-strategy=content --cache-location=.cspellcache

fix(cd-pipeline): fix concurrency group name
  .github/workflows/cd-pipeline.yml
Due: cspell

fix: fix environment name for frontend production
  .github/workflows/cd-pipeline.yml
Due: cspell

build: updates checkout action to v4
  .github/workflows/cd-pipeline.yml
Due: cspell

fix(navbar): enhance hover indicator by limiting movement between page renders
  packages/ui/src/components/Generic/NavigationBar/NavigationBarDesktop.tsx
Due: biome, cspell

fix: use flyctl secrets instead of inputs
  .github/cd-actions/deploy-backend/action.yml
Due: cspell

refactor: revert changes
  apps/backend/src/app/api/admin/game-sessions/[id]/route.test.ts
  apps/backend/src/app/api/admin/game-sessions/[id]/route.ts
Due: biome, cspell

fix(cd-pipeline): fix workflow dispatch condition
  .github/workflows/cd-pipeline.yml
Due: cspell

feat: booking time card now got attendees and casual (#596)
  packages/ui/src/components/Generic/BookingTimesCardGroup/BookingTimesCardGroup.stories.tsx
  packages/ui/src/components/Generic/BookingTimesCardGroup/BookingTimesCardGroup.tsx
Due: biome, cspell

build: set env variables with quotes
  .github/cd-actions/deploy-backend/action.yml
  .github/workflows/cd-pipeline.yml
Due: cspell

refactor(cd): seperate staging and production environments (#602)
  .github/cd-actions/deploy-backend/action.yml
  .github/workflows/cd-pipeline.yml
  apps/backend/fly.production.toml
  apps/backend/turbo.json
  turbo.json
Due: biome, cspell

refactor(api): enhance error handling in ApiClient and update tests
  apps/frontend/src/context/AuthContext.tsx
  apps/frontend/src/lib/api/__tests__/client.delete.test.ts
  apps/frontend/src/lib/api/__tests__/client.get.test.ts
  apps/frontend/src/lib/api/__tests__/client.patch.test.ts
  apps/frontend/src/lib/api/__tests__/client.post.test.ts
  apps/frontend/src/lib/api/__tests__/client.put.test.ts
  apps/frontend/src/lib/api/__tests__/client.url-joining.test.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/storage/__tests__/localStorageManager.hooks.test.ts
  packages/ui/src/components/Generic/LoginPanel/LoginPanel.tsx
Due: biome, cspell

fix(navbar): enhance hover indicator by limiting movement between page renders (#604)
  packages/ui/src/components/Generic/NavigationBar/NavigationBarDesktop.tsx
Due: biome, cspell

fix(AdditionalInfo): remove fallback values for gender and playLevel
  packages/ui/src/components/Composite/AdditionalInfo/AdditionalInfo.tsx
  packages/ui/src/components/Generic/LoginPanel/LoginPanel.test.tsx
Due: biome, cspell

fix: add correct route and remove incorrect route
  apps/backend/src/app/api/admin/bookings/[id]/route.test.ts
  apps/backend/src/app/api/admin/bookings/[id]/route.ts
  apps/backend/src/app/api/admin/users/[id]/bookings/route.test.ts
  apps/backend/src/data-layer/services/BookingDataService.test.ts
  apps/backend/src/data-layer/services/BookingDataService.ts
Due: biome, cspell

refactor: rewrite getUserBookingsBySessionId
  apps/backend/src/app/api/bookings/route.ts
  apps/backend/src/data-layer/services/BookingDataService.ts
Due: biome, cspell

fix: check error
  apps/backend/src/app/api/admin/bookings/[id]/route.test.ts
Due: biome, cspell

refactor(api): improve error handling in ApiClient and add tests for invalid error responses
  apps/frontend/src/lib/api/__tests__/client.delete.test.ts
  apps/frontend/src/lib/api/__tests__/client.get.test.ts
  apps/frontend/src/lib/api/client.ts
Due: biome, cspell

feat(user-management): add cascade delete for user bookings with transaction support
  apps/backend/src/app/api/admin/users/[id]/route.test.ts
  apps/backend/src/app/api/admin/users/[id]/route.ts
  apps/backend/src/data-layer/services/BookingDataService.test.ts
  apps/backend/src/data-layer/services/BookingDataService.ts
  apps/backend/src/data-layer/services/UserDataService.ts
  apps/backend/src/payload.config.ts
Due: biome, cspell

docs: add specification on what the transaction id can be
  apps/backend/src/app/api/admin/users/[id]/route.ts
Due: biome, cspell

chore: remove unused whitespace
  apps/backend/src/app/api/admin/users/[id]/route.ts
Due: biome, cspell

chore: fix imports in test file
  .idea/biome.xml
  apps/backend/src/app/api/admin/users/[id]/route.test.ts
Due: biome, cspell

feat: add random mongodb id generator for tests
  apps/backend/src/data-layer/services/BookingDataService.test.ts
  apps/backend/src/test-config/mocks/MongoDB.mock.ts
Due: biome, cspell

docs: add a proper example to the mock function
  apps/backend/src/data-layer/services/BookingDataService.test.ts
  apps/backend/src/test-config/mocks/MongoDB.mock.ts
Due: biome, cspell

chore: remove unused file
  .idea/biome.xml
Due: none

Revert "chore: remove unused file"
  .idea/biome.xml
Due: none

chore: fix biome back to master state
  .idea/biome.xml
Due: none

feat: ensure all user-related bookings are deleted by handling pagination
  apps/backend/src/app/api/admin/users/[id]/route.ts
Due: biome, cspell

chore: add docs explaining importance of ordering
  apps/backend/src/app/api/admin/users/[id]/route.ts
Due: biome, cspell

feat(navbar): make navbar fetched during build
  apps/frontend/src/components/client/NavigationBarSection.tsx
  apps/frontend/src/components/server/NavigationBarServerSection.tsx
  apps/frontend/src/services/cms/navbar/NavigationBarQuery.ts
  apps/frontend/src/services/cms/navbar/NavigationBarService.ts
  packages/ui/src/components/Generic/NavigationBar/NavigationBar.tsx
Due: biome, cspell

feat(navbar): make navbar fetched during build (#609)
  apps/frontend/src/components/client/NavigationBarSection.tsx
  apps/frontend/src/components/server/NavigationBarServerSection.tsx
  apps/frontend/src/services/cms/navbar/NavigationBarQuery.ts
  apps/frontend/src/services/cms/navbar/NavigationBarService.ts
  packages/ui/src/components/Generic/NavigationBar/NavigationBar.tsx
Due: biome, cspell

refactor: update user deletion to read deleteRelatedBookings from query params
  apps/backend/src/app/api/admin/users/[id]/route.test.ts
  apps/backend/src/app/api/admin/users/[id]/route.ts
Due: biome, cspell

feat: adds about us info global
  apps/backend/src/data-layer/globals/AboutUsInfo.ts
  apps/backend/src/payload.config.ts
  packages/shared/src/payload-types.ts
Due: biome, cspell

refactor: rename aboutUsInfo.info to items array
  apps/backend/src/data-layer/globals/AboutUsInfo.ts
  packages/shared/src/payload-types.ts
Due: biome, cspell

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}, but not: apps/portal/**
  cspell: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx,css,scss,yaml,yml}
