Repository UoaWDCC/uabc-web: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cspell

biome:
  run: 'pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  
    '
  stage_fixed: true

cspell:
  run: pnpm cspell {staged_files} --cache --cache-strategy=content --cache-location=.cspellcache

fix(test-config): update exports to point to compiled JavaScript files
  packages/test-config/package.json
Due: biome, cspell

fix(cf): fix cf deployment and static export
  .github/cd-actions/deploy-frontend/action.yml
  apps/frontend/next.config.ts
Due: biome, cspell

fix(cd): update cd deployment to use next build
  .github/cd-actions/deploy-frontend/action.yml
  packages/ui/src/components/Primitive/Image/Image.tsx
Due: biome, cspell

fix(opengraph): make opengraph image force static
  apps/frontend/src/app/opengraph-image.tsx
Due: biome, cspell

feat(cache): add Next.js cache restoration to CI workflow
  .github/cd-actions/deploy-frontend/action.yml
  apps/frontend/src/services/cms/about-us-info/AboutUsInfoService.ts
  apps/frontend/src/services/cms/footer/FooterService.ts
  apps/frontend/src/services/cms/navbar/NavigationBarService.ts
  apps/frontend/src/services/cms/tos/TosService.ts
Due: biome, cspell

feat(tsconfig): add TypeScript configuration file with path mappings for packages
  tsconfig.json
Due: biome, cspell

fix(turbo): add dependency on test-config build task to the build process
  turbo.json
Due: biome, cspell

fix(tests): update image src attributes in RichText tests to remove Next.js image optimization
  packages/ui/src/components/Generic/RichText/RichText.test.tsx
  packages/ui/src/components/Generic/RichText/lib/RichTextRenderer.test.tsx
  packages/ui/src/components/Generic/RichText/lib/renderers/upload.test.tsx
Due: biome, cspell

fix(turbo): remove dependency on test-config build task from the build process
  apps/frontend/turbo.json
  turbo.json
Due: biome, cspell

fix(cd): update deployment action to use turbo for frontend build
  .github/cd-actions/deploy-frontend/action.yml
Due: cspell

fix(cf): fix cf deployment and static export (#657)
  .github/cd-actions/deploy-frontend/action.yml
  apps/frontend/next.config.ts
  apps/frontend/src/app/opengraph-image.tsx
  apps/frontend/src/services/cms/about-us-info/AboutUsInfoService.ts
  apps/frontend/src/services/cms/footer/FooterService.ts
  apps/frontend/src/services/cms/navbar/NavigationBarService.ts
  apps/frontend/src/services/cms/tos/TosService.ts
  apps/frontend/turbo.json
  packages/ui/src/components/Generic/RichText/RichText.test.tsx
  packages/ui/src/components/Generic/RichText/lib/RichTextRenderer.test.tsx
  packages/ui/src/components/Generic/RichText/lib/renderers/upload.test.tsx
  packages/ui/src/components/Primitive/Image/Image.tsx
  tsconfig.json
Due: biome, cspell

feat: add favicon and update layout metadata to remove icon reference
  apps/frontend/src/app/favicon.ico
  apps/frontend/src/app/layout.tsx
Due: biome, cspell

chore: delete apps/frontend/public/fonts/Geist-SemiBold.ttf
  apps/frontend/public/fonts/Geist-SemiBold.ttf
Due: none

refactor(robots-sitemap): remove dynamic export to streamline static generation
  apps/frontend/src/app/robots.ts
  apps/frontend/src/app/sitemap.ts
Due: biome, cspell

refactor(robots, sitemap): remove dynamic export to streamline static generation
  apps/frontend/src/app/robots.ts
  apps/frontend/src/app/sitemap.ts
Due: biome, cspell

refactor(api): move ApiClientError to its own file and update imports in tests
  apps/frontend/src/lib/api/ApiClientError.ts
  apps/frontend/src/lib/api/__tests__/client.delete.test.ts
  apps/frontend/src/lib/api/__tests__/client.get.test.ts
  apps/frontend/src/lib/api/__tests__/client.helpers.test.ts
  apps/frontend/src/lib/api/__tests__/client.patch.test.ts
  apps/frontend/src/lib/api/__tests__/client.post.test.ts
  apps/frontend/src/lib/api/__tests__/client.put.test.ts
  apps/frontend/src/lib/api/client.ts
Due: biome, cspell

refactor(api): export ApiClientError and clean up exports in client.ts
  apps/frontend/src/lib/api/ApiClientError.ts
  apps/frontend/src/lib/api/client.ts
Due: biome, cspell

feat(api): introduce `ApiClientError` for enhanced error handling in API requests (#653)
  apps/frontend/src/lib/api/ApiClientError.ts
  apps/frontend/src/lib/api/__tests__/client.delete.test.ts
  apps/frontend/src/lib/api/__tests__/client.get.test.ts
  apps/frontend/src/lib/api/__tests__/client.helpers.test.ts
  apps/frontend/src/lib/api/__tests__/client.patch.test.ts
  apps/frontend/src/lib/api/__tests__/client.post.test.ts
  apps/frontend/src/lib/api/__tests__/client.put.test.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/services/admin/game-session-schedule/AdminGameSessionScheduleService.ts
  apps/frontend/src/services/admin/game-session/AdminGameSessionService.ts
  apps/frontend/src/services/admin/semester/AdminSemesterService.ts
  apps/frontend/src/services/admin/user/AdminUserService.ts
  apps/frontend/src/services/auth/AuthService.ts
  apps/frontend/src/services/bookings/BookingService.ts
  apps/frontend/src/services/cms/about-us-info/AboutUsInfoService.ts
  apps/frontend/src/services/cms/faq/FaqService.ts
  apps/frontend/src/services/cms/footer/FooterService.ts
  apps/frontend/src/services/cms/navbar/NavigationBarService.ts
  apps/frontend/src/services/cms/tos/TosService.ts
  apps/frontend/src/services/game-session/GameSessionService.ts
Due: biome, cspell

ci(github-actions): optimize with turbo-ignore, --affected, and pnpm exec
  .github/cd-actions/deploy-frontend/action.yml
  .github/ci-actions/build-backend/action.yml
  .github/ci-actions/build-frontend/action.yml
  .github/ci-actions/build-storybook/action.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/deploy-github-pages.yml
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: biome, cspell

ci(github-actions): use turbo-ignore with master branch comparison for robust CI
  .github/cd-actions/deploy-frontend/action.yml
  .github/ci-actions/build-backend/action.yml
  .github/ci-actions/build-frontend/action.yml
  .github/ci-actions/build-storybook/action.yml
Due: cspell

ci(github-actions): remove turbo-ignore, rely on --affected for fast monorepo CI
  .github/cd-actions/deploy-frontend/action.yml
  .github/ci-actions/build-backend/action.yml
  .github/ci-actions/build-frontend/action.yml
  .github/ci-actions/build-storybook/action.yml
Due: cspell

ci(github-actions): add build checks to skip unnecessary builds using turbo-ignore
  .github/cd-actions/deploy-frontend/action.yml
  .github/ci-actions/build-backend/action.yml
  .github/ci-actions/build-frontend/action.yml
  .github/ci-actions/build-storybook/action.yml
Due: cspell

feat(profile): implement user profile update functionality
  apps/backend/src/app/api/me/route.ts
  apps/frontend/src/components/client/user/ProfileSection.tsx
  apps/frontend/src/services/auth/AuthService.ts
  apps/frontend/src/services/auth/useUpdateSelfMutation.ts
  packages/shared/src/schemas/user.ts
Due: biome, cspell

ci(github-actions): update checkout fetch-depth to 0 for all jobs
  .github/workflows/ci-pipeline.yml
Due: cspell

ci(github-actions): fetch only latest master commit for fast turbo-ignore comparisons
  .github/workflows/ci-pipeline.yml
Due: cspell

refactor: remove console logs from user profile components
  apps/backend/src/app/api/me/route.ts
  apps/frontend/src/components/client/user/ProfileSection.tsx
  packages/ui/src/components/Composite/ProfileDetails/ProfileDetails.tsx
Due: biome, cspell

ci(github-actions): use fetch-depth 0 for all checkouts, remove manual master fetch
  .github/workflows/ci-pipeline.yml
Due: cspell

ci(github-actions): refactor build checks to use turbo-ignore-fallback for all actions
  .github/cd-actions/deploy-frontend/action.yml
  .github/ci-actions/build-backend/action.yml
  .github/ci-actions/build-frontend/action.yml
  .github/ci-actions/build-storybook/action.yml
  .github/ci-actions/turbo-ignore-fallback/action.yml
  .github/workflows/ci-pipeline.yml
Due: cspell

refactor(profile): streamline user profile component structure
  apps/frontend/src/components/client/user/ProfileSection.test.tsx
Due: biome, cspell

ci(github-actions): add continue-on-error flag to turbo-ignore-fallback
  .github/ci-actions/build-backend/action.yml
  .github/ci-actions/build-frontend/action.yml
  .github/ci-actions/build-storybook/action.yml
Due: cspell

chore(ci): update coverage testing command and ensure artifact upload always occurs
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(ci): add merge step for coverage reports
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(turbo): update merge command to use turbo for improved efficiency
  package.json
  turbo.json
Due: biome, cspell

chore(ci): enable continue-on-error for test job in CI pipeline
  .github/workflows/ci-pipeline.yml
Due: cspell

feat(game-session-schedule): implemented cascade game session creation
  apps/backend/src/app/api/admin/game-session-schedules/route.test.ts
  apps/backend/src/app/api/admin/game-session-schedules/route.ts
  apps/backend/src/data-layer/services/GameSessionDataService.test.ts
  apps/backend/src/data-layer/services/GameSessionDataService.ts
  apps/backend/src/data-layer/utils/DateUtils.ts
  apps/backend/src/test-config/mocks/Semester.mock.ts
Due: biome, cspell

chore(turbo): add outputs for coverage reports in merge command
  turbo.json
Due: biome, cspell

chore(ci): add --force option to merge command for coverage reports
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(turbo): remove outputs for coverage reports in merge command
  turbo.json
Due: biome, cspell

test(profile): enhance ProfileSection tests with mocked AuthContext
  apps/frontend/src/components/client/user/ProfileSection.test.tsx
Due: biome, cspell

fix(services): use throwIfError in semester service
  apps/frontend/src/services/semester/SemesterService.ts
Due: biome, cspell

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}, but not: apps/portal/**
  cspell: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx,css,scss,yaml,yml}, but not: pnpm-lock.yaml
