Repository UoaWDCC/uabc-web: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cspell

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

post-merge:
  commands:
    pnpm:
      glob: "{package.json,pnpm-lock.yaml}"
      run: pnpm cross-env COREPACK_ENABLE_DOWNLOAD_PROMPT=0 pnpm install

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      exclude:
        - "pnpm-lock.yaml"
        - "**/importMap.js"
        - "**/payload-types.ts"
      run: |
        pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    cspell:
      glob: "*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx,css,scss,yaml,yml}"
      exclude:
        - "pnpm-lock.yaml"
        - "**/importMap.js"
        - "**/payload-types.ts"
      run: |
        pnpm cspell {staged_files} --cache --cache-strategy=content --cache-location=.cspellcache

chore: remove on push and pull request to master
  .github/workflows/clear-cloudflare-deployments.yml
Due: cspell

ci: add workflow to clear cloudflare deployments (#913)
  .github/workflows/clear-cloudflare-deployments.yml
  cspell.json
Due: biome, cspell

fix(clear-cloudflare-deployments): correct matrix project name input
  .github/workflows/clear-cloudflare-deployments.yml
Due: cspell

fix(clear-cloudflare-deployments): correct matrix project name input (#914)
  .github/workflows/clear-cloudflare-deployments.yml
Due: cspell

feat(clear-cloudflare-deployments): support pruning all environments
  .github/workflows/clear-cloudflare-deployments.yml
Due: cspell

fix: use single equals sign instead of double
  .github/workflows/clear-cloudflare-deployments.yml
Due: cspell

refactor(clear-deployments): set `project-name` input to required
  .github/workflows/clear-cloudflare-deployments.yml
Due: cspell

feat(clear-cloudflare-deployments): support pruning all environments (#915)
  .github/workflows/clear-cloudflare-deployments.yml
Due: cspell

feat(about-us-info): add media carousel to global
  apps/backend/src/data-layer/globals/AboutUsInfo.ts
  packages/shared/src/payload-types.ts
  packages/shared/src/schemas/globals/about-us-info.ts
Due: biome, cspell

refactor(api): add `carouselItems` to about us info tests
  apps/backend/src/app/api/globals/about-us-info/route.test.ts
Due: biome, cspell

chore(contact): update contact informations
  apps/frontend/src/components/client/ContactSection.tsx
  packages/ui/src/components/Composite/ContactOurTeam/ContactOurTeam.tsx
Due: biome, cspell

fix(contact): fix type errors on contact our team tests
  packages/ui/src/components/Composite/ContactOurTeam/ContactOurTeam.test.tsx
Due: biome, cspell

feat(about-us-info): add media carousel to global (#916)
  apps/backend/src/app/api/globals/about-us-info/route.test.ts
  apps/backend/src/data-layer/globals/AboutUsInfo.ts
  packages/shared/src/payload-types.ts
  packages/shared/src/schemas/globals/about-us-info.ts
Due: biome, cspell

chore(contact): update schema example and comments
  packages/shared/src/schemas/contact.ts
  packages/ui/src/components/Composite/ContactOurTeam/ContactOurTeam.test.tsx
Due: biome, cspell

chore(deps): remove unused `@cloudflare/next-on-pages` dep
  apps/frontend/package.json
  turbo.json
Due: biome, cspell

chore(deps): rerun pnpm install
  pnpm-lock.yaml
Due: none

fix(next-config): remove `@cloudflare/next-on-pages/next-dev` reference
  apps/frontend/next.config.ts
Due: biome, cspell

refactor(game-session-schedule): add transaction support for service methods
  apps/backend/src/app/api/admin/game-session-schedules/[id]/route.ts
  apps/backend/src/data-layer/services/BookingDataService.ts
  apps/backend/src/data-layer/services/GameSessionDataService.ts
Due: biome, cspell

chore(deps): remove unused `@cloudflare/next-on-pages` dep (#917)
  apps/frontend/next.config.ts
  apps/frontend/package.json
  pnpm-lock.yaml
  turbo.json
Due: biome, cspell

fix(turbo): set frontend build outputs to include `out` dir
  apps/frontend/turbo.json
Due: biome, cspell

feat(contact): update contact page to have actual components (#904)
  apps/frontend/src/app/contact/page.test.tsx
  apps/frontend/src/app/contact/page.tsx
  apps/frontend/src/components/client/ContactSection.tsx
  apps/frontend/src/services/contact/ContactMutations.ts
  apps/frontend/src/services/contact/ContactService.ts
  apps/frontend/src/services/index.ts
  apps/frontend/turbo.json
  packages/shared/src/schemas/contact.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/types/contact.ts
  packages/shared/src/types/index.ts
  packages/ui/src/components/Composite/AdminTable/AdminTableWithPaginatedQuery.test.tsx
  packages/ui/src/components/Composite/ContactOurTeam/ContactOurTeam.stories.tsx
  packages/ui/src/components/Composite/ContactOurTeam/ContactOurTeam.test.tsx
  packages/ui/src/components/Composite/ContactOurTeam/ContactOurTeam.tsx
  packages/ui/src/components/Composite/ContactOurTeam/index.ts
  packages/ui/src/components/Composite/index.ts
Due: biome, cspell

chore(hooks): remove unnecessary memoisaton
  packages/ui/src/hooks/useBookingLimits/useBookingLimits.ts
Due: biome, cspell

fix(tests): increase time limit in long admin table test
  packages/ui/src/components/Composite/AdminTable/AdminTableWithPaginatedQuery.test.tsx
Due: biome, cspell

fix(tests): use original tests
  packages/ui/src/components/Composite/AdminTable/AdminTableWithPaginatedQuery.test.tsx
Due: biome, cspell

fix(booking-flow): include previously booked sessions in booking logic (#911)
  apps/frontend/src/components/client/QuickBookSection.tsx
  apps/frontend/src/components/client/book/BookClient.tsx
  apps/frontend/src/components/client/book/BookFlow.tsx
  apps/frontend/src/services/game-session/GameSessionQueries.ts
  packages/ui/src/components/Composite/AdminTable/AdminTableWithPaginatedQuery.test.tsx
  packages/ui/src/components/Composite/BookingConfirmation/BookingConfirmation.tsx
  packages/ui/src/components/Composite/SelectACourt/SelectACourt.tsx
  packages/ui/src/hooks/useBookingLimits/useBookingLimits.test.ts
  packages/ui/src/hooks/useBookingLimits/useBookingLimits.ts
Due: biome, cspell

chore(ui): export table props
  packages/ui/src/components/Composite/index.ts
Due: biome, cspell

refactor(backend-vitest-config): use UTC timezone for tests
  apps/backend/vitest.config.ts
Due: biome, cspell

feat(date-utils): add `getDateTimeStatus` util method
  apps/backend/src/utils/date.test.ts
  packages/shared/src/utils/date.ts
Due: biome, cspell

fix(game-session-schedule-card): rename component and use schedule
  packages/ui/src/components/Composite/GameSessionCard/GameSessionCard.stories.tsx
  packages/ui/src/components/Composite/GameSessionCard/GameSessionCard.test.tsx
  packages/ui/src/components/Composite/GameSessionCard/GameSessionCard.tsx
  packages/ui/src/components/Composite/GameSessionCard/index.ts
  packages/ui/src/components/Composite/GameSessionScheduleCard/GameSessionScheduleCard.stories.tsx
  packages/ui/src/components/Composite/GameSessionScheduleCard/GameSessionScheduleCard.test.tsx
  packages/ui/src/components/Composite/GameSessionScheduleCard/GameSessionScheduleCard.tsx
  packages/ui/src/components/Composite/GameSessionScheduleCard/index.ts
  packages/ui/src/components/Composite/SemesterSection/AdminSemestersResponsive.tsx
  packages/ui/src/components/Composite/index.ts
Due: biome, cspell

refactor: remove useDisclosure from AdminMembers and useQueryState from CreateMemberPopUp
  apps/frontend/src/components/client/admin/tabs/admin-members/AdminMembers.tsx
  packages/ui/src/components/Generic/CreateMemberPopUp/CreateMemberPopUp.test.tsx
  packages/ui/src/components/Generic/CreateMemberPopUp/CreateMemberPopUp.tsx
Due: biome, cspell

fix: update test for closing pop up now that closing logic not handled within the pop up
  packages/ui/src/components/Generic/CreateMemberPopUp/CreateMemberPopUp.test.tsx
  packages/ui/src/components/Generic/CreateMemberPopUp/CreateMemberPopUp.tsx
Due: biome, cspell

refactor: fix nits (change undefined to false and remove commented code)
  apps/frontend/src/components/client/admin/tabs/admin-members/AdminMembers.tsx
Due: biome, cspell

feat(admin): implement Add New Member to admin members view (#894)
  apps/frontend/src/components/client/admin/tabs/admin-members/AdminMembers.tsx
  packages/shared/src/enums/popup.ts
  packages/ui/src/components/Composite/AdminTable/AdminTableWithPaginatedQuery.test.tsx
  packages/ui/src/components/Generic/CreateMemberPopUp/CreateMemberPopUp.test.tsx
  packages/ui/src/components/Generic/ManagementTable/Filter/Filter.test.tsx
  packages/ui/src/components/Generic/ManagementTable/Filter/FilterActions.test.tsx
  packages/ui/src/components/Generic/ManagementTable/Filter/FilterActions.tsx
Due: biome, cspell

fix(footer): change bootom props to auto set year
  packages/ui/src/components/Composite/Footer/Footer.tsx
Due: biome, cspell

fix(deps): upgrade payload to `3.60.0`
  apps/backend/package.json
  pnpm-lock.yaml
Due: biome, cspell

fix(deps): upgrade payload to `3.61.1`
  apps/backend/package.json
  pnpm-lock.yaml
Due: biome, cspell

fix(deps): upgrade payload to `3.62.1`
  apps/backend/package.json
  pnpm-lock.yaml
Due: biome, cspell

fix(deps): upgrade payload to `3.64.0` and `next` to `15.4.7`
  apps/backend/package.json
  packages/shared/src/payload-types.ts
  pnpm-lock.yaml
Due: biome, cspell

fix(deps): match next dependencies and address CVE issue
  apps/backend/package.json
  apps/frontend/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: biome, cspell

fix(deps): upgrade payload to `3.65.0`
  apps/backend/package.json
  packages/shared/src/payload-types.ts
  pnpm-lock.yaml
Due: biome, cspell
