Repository UoaWDCC/uabc-web: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cspell

biome:
  run: pnpm exec biome check .

cspell:
  run: pnpm exec cspell {staged_files} --quiet

refactor: removed unneeded tests
  apps/backend/src/app/api/admin/game-session-schedules/route.test.ts
Due: biome, cspell

chore: remove unused lintstaged configuration and lefthook scripts
  .husky/_/commit-msg
  .husky/_/post-merge
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: none

chore: update cspell configuration and CI pipeline command
  .github/workflows/ci-pipeline.yml
  cspell.json
Due: cspell

chore(lefthook): refine cspell glob pattern to exclude yml.md files
  lefthook.yml
Due: none

refactor(ci): add biome requirement to steps
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(ci): add cspell to verify job dependencies in CI pipeline
  .github/workflows/ci-pipeline.yml
Due: cspell

refactor(ci): add biome to missing steps
  .github/workflows/ci-pipeline.yml
Due: cspell

fix(cspell): add missing newline at end of cspell.json file
  cspell.json
Due: none

chore(lefthook): update biome command to error on warnings
  cspell.json
  lefthook.yml
Due: none

chore(lefthook): remove redundant glob pattern from biome command
  lefthook.yml
Due: none

refactor: move biome req to setup
  .github/workflows/ci-pipeline.yml
Due: cspell

feat: add UniversityInfoForm with text inputs disabled when university not UoA
  packages/ui/src/components/Composite/RegisterFlow/UniversityInfoForm.test.tsx
  packages/ui/src/components/Composite/RegisterFlow/UniversityInfoForm.tsx
  packages/ui/src/components/Composite/RegisterFlow/index.ts
  packages/ui/src/components/Composite/RegisterFlow/schema.ts
  packages/ui/src/components/Composite/RegisterFlow/stories/UniversityInfoForm.stories.tsx
Due: biome, cspell

chore(cspell): enhance cspell configuration and CI integration with caching support
  .github/workflows/ci-pipeline.yml
  .gitignore
  lefthook.yml
  package.json
Due: cspell

chore(cspell): update cspell configuration to include .gitignore in ignored files
  cspell.json
Due: none

chore(ci): refactor CI pipeline to integrate CSpell job dependencies and streamline setup
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(vscode): add default formatter for JSONC files in VSCode settings
  .vscode/settings.json
  cspell.json
Due: biome, cspell

fix: add missing onSubmit prop to test
  packages/ui/src/components/Composite/RegisterFlow/UniversityInfoForm.test.tsx
Due: biome, cspell

chore(ci): reintroduce CSpell job in CI pipeline with updated execution conditions
  .github/workflows/ci-pipeline.yml
Due: cspell

chore(ci): rename CSpell job to Spell Check in CI pipeline for clarity
  .github/workflows/ci-pipeline.yml
Due: cspell

refactor: relocate each component in its own directory
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm1/BasicInfoForm1.stories.tsx
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm1/BasicInfoForm1.test.tsx
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm1/BasicInfoForm1.tsx
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm1/index.ts
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm2/BasicInfoForm2.stories.tsx
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm2/BasicInfoForm2.test.tsx
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm2/BasicInfoForm2.tsx
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm2/index.ts
  packages/ui/src/components/Composite/RegisterFlow/UniversityInfoForm/UniversityInfoForm.stories.tsx
  packages/ui/src/components/Composite/RegisterFlow/UniversityInfoForm/UniversityInfoForm.test.tsx
  packages/ui/src/components/Composite/RegisterFlow/UniversityInfoForm/UniversityInfoForm.tsx
  packages/ui/src/components/Composite/RegisterFlow/UniversityInfoForm/index.ts
Due: biome, cspell

chore(cspell): test typo check in github action
  packages/ui/src/test-config/mocks/FAQ.mock.ts
Due: biome, cspell

chore(lefthook): remove redundant glob pattern from cspell configuration
  lefthook.yml
Due: none

fix(FAQ.mock): correct typo in JSDoc comment for createSharedFAQItem function
  packages/ui/src/test-config/mocks/FAQ.mock.ts
Due: biome, cspell

feat(cspell, lefthook): add cspell spell check and lefthook (#529)
  .github/workflows/ci-pipeline.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .vscode/settings.json
  apps/backend/src/app/api/admin/game-sessions/[id]/route.ts
  apps/backend/src/app/api/auth/login/route.test.ts
  apps/backend/src/test-config/mocks/Authentication.mock.ts
  apps/frontend/src/app/form/page.test.tsx
  apps/frontend/src/app/form2/page.test.tsx
  biome.json
  cspell.json
  lefthook.yml
  package.json
  packages/ui/src/components/Composite/AdminTable/MemberManagementContext.test.tsx
  packages/ui/src/components/Composite/AdminTable/MemberManagementContext.tsx
  packages/ui/src/components/Generic/FAQ/FAQ.test.tsx
  packages/ui/src/components/Generic/QuickBook/QuickBook.mock.ts
  packages/ui/src/components/Generic/QuickBook/QuickBook.test.tsx
  packages/ui/src/components/Generic/RichText/RichText.test.tsx
  packages/ui/src/components/Generic/RichText/lib/RichTextRenderer.test.tsx
  packages/ui/src/components/Generic/RichText/lib/renderers/upload.test.tsx
  packages/ui/src/components/Generic/UserProfileCard/UserProfileCard.stories.tsx
  packages/ui/src/components/Primitive/MultiSelect/MultiSelect.tsx
  packages/ui/src/components/Primitive/Select/Select.tsx
  pnpm-lock.yaml
Due: biome, cspell

fix(scripts): update package.json and CI configurations to ignore scripts
  .github/ci-actions/build-backend/action.yml
  .github/ci-actions/build-frontend/action.yml
  .github/ci-actions/build-storybook/action.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/deploy-github-pages.yml
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
  package.json
Due: cspell

fix(lefthook, package.json): update cspell command patterns and add pre-commit hook
  lefthook.yml
  package.json
Due: none

feat(session-count-icon): add SessionCountIcon component
  packages/ui/src/components/Generic/SessionCountIcon/SessionCountIcon.stories.tsx
  packages/ui/src/components/Generic/SessionCountIcon/SessionCountIcon.test.tsx
  packages/ui/src/components/Generic/SessionCountIcon/SessionCountIcon.tsx
  packages/ui/src/components/Generic/SessionCountIcon/index.ts
  packages/ui/src/components/Generic/index.ts
Due: biome, cspell

chore(lefthook): remove cspell command from pre-push hooks
  lefthook.yml
Due: none

chore(clean): update clean scripts and add rimraf dependency for cross-platform (#527)
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/shared/package.json
  packages/test-config/package.json
  packages/theme/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Due: biome, cspell

chore(cspell): add additional words to cspell dictionary for improved spell checking
  cspell.json
Due: none

feat: add AdditionalInfoForm; make miscellaneous styling/formatting/doc changes
  packages/ui/src/components/Composite/RegisterFlow/AdditionalInfoForm.tsx
  packages/ui/src/components/Composite/RegisterFlow/AdditionalInfoForm/AdditionalInfoForm.stories.tsx
  packages/ui/src/components/Composite/RegisterFlow/AdditionalInfoForm/AdditionalInfoForm.test.tsx
  packages/ui/src/components/Composite/RegisterFlow/AdditionalInfoForm/AdditionalInfoForm.tsx
  packages/ui/src/components/Composite/RegisterFlow/AdditionalInfoForm/index.ts
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm1/BasicInfoForm1.test.tsx
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm1/BasicInfoForm1.tsx
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm2/BasicInfoForm2.test.tsx
  packages/ui/src/components/Composite/RegisterFlow/BasicInfoForm2/BasicInfoForm2.tsx
  packages/ui/src/components/Composite/RegisterFlow/UniversityInfoForm/UniversityInfoForm.test.tsx
  packages/ui/src/components/Composite/RegisterFlow/UniversityInfoForm/UniversityInfoForm.tsx
  packages/ui/src/components/Composite/RegisterFlow/schema.ts
Due: biome, cspell

fix(ci-pipeline): update setup job dependencies and enhance cache paths for node_modules
  .github/workflows/ci-pipeline.yml
Due: cspell

fix(ci-pipeline): add conditional dependency for spell check job based on changes
  .github/workflows/ci-pipeline.yml
Due: cspell

test(session-count-icon): get icon by test id
  packages/ui/src/components/Generic/SessionCountIcon/SessionCountIcon.test.tsx
  packages/ui/src/components/Generic/SessionCountIcon/SessionCountIcon.tsx
Due: biome, cspell

style(session-count-icon): ensure linting passes
  packages/ui/src/components/Generic/SessionCountIcon/SessionCountIcon.tsx
Due: biome, cspell

chore(session-count-icon): remove unnecessary dashes from JSDoc comments
  packages/ui/src/components/Generic/SessionCountIcon/SessionCountIcon.tsx
Due: biome, cspell

refactor: rely on check changes for biome
  .github/workflows/ci-pipeline.yml
Due: cspell

refactor(profile-details): update test to use default values for last name and phone number
  packages/ui/src/components/Composite/ProfileDetails/ProfileDetails.test.tsx
Due: biome, cspell

fix(ProfileDetails.test): ensure default values are not null for last name and phone number in tests
  packages/ui/src/components/Composite/ProfileDetails/ProfileDetails.test.tsx
Due: biome, cspell

Path conditions:
  biome: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  cspell: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,yml,yaml,yml.md}
